.process_indicator {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.backhome_button {
  display: block;
  padding: 0.5rem 2.5rem;
  margin: 0 auto 2rem auto;
  border: 2px solid var(--col-purple-primary);
  border-radius: 2rem;
  color: var(--col-purple-primary);
  background-color: #fff;
  cursor: pointer;
}
