/* const INITIAL_VALUES = {
    householdCapacity: "",
    haveChildren: "",
    childrenAge: "",
    agreeHaveCat: "",
    havePetAllergie: "",
    useOilDiffuser: "",
    renOrOwn: "",
    homeType: "",
    catPermitted: "",
    entireHome: "",
    aloneTime: "",
    movingNextMonth: "",
    activityWhileVacationing: "",
    haveCar: "",
    bestTimeToReach: [],
    whereKnowUs: ""
  }; */
