.backhome_button {
  display: block;
  padding: 0.5rem 2.5rem;
  margin: 0 auto 2rem auto;
  border: 2px solid var(--col-purple-primary);
  border-radius: 2rem;
  color: var(--col-purple-primary);
  background-color: #fff;
  cursor: pointer;
}

.interactive_cat {
  display: none;
}

@media (min-width: 400px) {
  .form_container {
    max-width: 21rem;
    padding: 2rem 2rem 0 2rem;
    margin-bottom: 6rem;
    border: 1px solid var(--col-light_grey);
    position: relative;
  }
}

@media (min-width: 768px) {
  .interactive_cat {
    display: block;
  }
  .interactive_cat > img {
    position: fixed;
  }

  .interactive_face {
    width: 150px;
    top: 60vh;
    transition: right linear 300ms;
  }
  .interactive_paw_up {
    width: 40px;
    top: calc(60vh - 14px);
    transition: right linear 300ms;
  }
  .interactive_paw_down {
    width: 40px;
    top: calc(60vh + 152px);
    transition: right linear 300ms;
  }

  .show .interactive_face {
    right: -24px;
  }
  .show .interactive_paw_up,
  .show .interactive_paw_down {
    right: -10px;
  }

  .hide .interactive_face {
    right: -62px;
  }
  .hide .interactive_paw_up,
  .hide .interactive_paw_down {
    right: -15px;
  }

  .talk_bubble {
    background-color: var(--col-yellow-primary);
    width: 200px;
    height: 60px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: calc(60vh - 14px);
    transition: right linear 300ms;
  }

  .talk_bubble:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 38px;
    bottom: -20px;
    border: 12px solid;
    border-color: var(--col-yellow-primary) var(--col-yellow-primary)
      transparent transparent;
  }

  .show .talk_bubble {
    right: 130px;
  }
  .hide .talk_bubble {
    right: 110px;
  }
}
