.important_p {
  width: 118.75%;
  transform: translateX(-7.5vw);
  color: var(--col-text-alt);
  background-color: var(--col-purple-secondary-dark);
  padding: 0.75em;
}
.filterButton_container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.filterButton {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--col-purple-primary);
  background-color: #fff;
  padding: 0.5em 1.5em;
  border: 3px solid var(--col-purple-primary);
  border-radius: 2em;
  margin-bottom: 2em;
  transform: translateX(calc(8vw));
}

.filterButton > div {
  display: flex;
  align-items: center;
}

.filterButton .arrow_up {
  display: inline-block;
  margin-left: 0.5rem;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid var(--col-purple-primary);
}

.filterButton .arrow_down {
  display: inline-block;
  margin-left: 0.5rem;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--col-purple-primary);
}
/* 
.desktop_filter {
  display: none;
} */

.cats_grid {
  width: 116.25%;
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: 50% 50%;
  transform: translateX(-7.5vw);
  margin-bottom: 2em;
}
