.imagelink_container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1rem;
}

.imagelink_container > img {
  min-width: 100%;
  min-height: 100%;
}

.link_tag {
  background-color: var(--col-yellow-secondary-light__fade);
  width: 100%;
  padding: 0.2em;
  text-align: center;
  position: absolute;
  bottom: 0;
}

@media (min-width: 768px) {
  .imagelink_container {
    width: 50%;
    margin-bottom: 0;
  }
  .link_tag {
    padding: 0.5em;
  }
}
