.icon_container {
  display: flex;
  font-size: 2em;
  margin-bottom: 1rem;
}

.icon_container > * {
  margin-right: 1rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--col-text-alt);
}

@media (min-width: 768px) {
  .icon_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
