footer {
  width: 100%;
  background-color: #9746b5;
  color: var(--col-text-alt);
  margin-top: auto;
}
.footer_container {
  display: flex;
  flex-direction: column;
  padding: 4em;
  margin: 0 auto;
}

.links_container {
  display: flex;
  flex-direction: column;
}

.links_container a {
  display: inline-block;
  cursor: pointer;
  margin-right: 2.5em;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .footer_container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
  }

  .links_container {
    flex-direction: row;
  }
}
