*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --col-purple-primary: #9746b5;
  --col-purple-secondary-dark: #813b9b;
  --col-purple-secondary-light: #b66bd1;
  --col-yellow-primary: #fecf5b;
  --col-yellow-secondary-dark: #ffbd1a;
  --col-yellow-secondary-light: #ffe299;
  --col-yellow-secondary-light__fade: rgba(255, 226, 153, 0.8);
  --col-filled-input: #f5e8fa;
  --col-text: #505050;
  --col-text-alt: #ffffff;
  --col-light_grey: #c4c4c4;
  --col-error: #de0303;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--col-text);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page_container {
  width: 80%;
  min-height: 60vh;
  margin: 10em auto 0 auto;
}

h1 {
  font-weight: 800;
  font-size: 2.25em;
  margin-bottom: 0.5rem;
}

h4 {
  font-weight: 600;
  font-size: 1.25em;
  margin-bottom: 0.75em;
}

p {
  margin-bottom: 2em;
}

@media (min-width: 768px) {
  .page_container {
    max-width: 1200px;
  }
}
