.myForm > label {
  display: block;
  margin-bottom: 1rem;
}
.myForm input,
.myForm textarea,
.myForm select {
  display: block;
  width: 100%;
  height: 2rem;
  padding-left: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid var(--col-text);
}

.myForm textarea {
  height: 4rem;
  padding: 0.5rem;
}

.myForm input[type="radio"] + span {
  min-width: 4rem;
}

.myForm input[type="radio"],
.myForm input[type="checkbox"] {
  display: inline;
  width: 1.5rem;
  height: 1.5rem;
}

.radio_group,
.checkbox_group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.column_group {
  flex-direction: column;
}

.column_group > * {
  margin-bottom: 0.25rem;
}

.radio_group label,
.checkbox_group label {
  display: flex;
  align-items: center;
}

.radio_group span,
.checkbox_group span {
  margin-left: 0.5rem;
}

.has_error {
  border: 1px solid var(--col-error) !important;
}

.error {
  color: var(--col-error);
  font-size: 0.75rem;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.myForm button {
  padding: 0.5rem 2.5rem;
  border: 2px solid var(--col-purple-primary);
  border-radius: 2rem;
  color: var(--col-purple-primary);
  background-color: #fff;
  cursor: pointer;
}
.myForm button[type="submit"] {
  background-color: var(--col-purple-primary);
  color: var(--col-text-alt);
}
.myForm button[type="submit"]:disabled {
  background-color: var(--col-light_grey);
  border: 2px solid var(--col-light_grey);
  cursor: not-allowed;
}

@media (min-width: 400px) {
  .actionButtons {
    position: absolute;
    bottom: -6rem;
    width: 100%;
    transform: translateX(-2rem);
  }
}
